---
import PostCard from "@/components/PostCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import type { IBookmark } from "@/types/global";
import Breadcrumbs from "@/components/Customs/Breadcrumbs.astro";
import { Icon } from "astro-icon/components";

const bookmarks = (Astro.cookies.get("bookmarks")?.json() || []) as IBookmark[];
const posts =
  (await getCollection(
    "posts",
    (item) => item && bookmarks.some((bookmark) => bookmark.id === item.id),
  )) || [];

export const prerender = false;

const customCrumbs = [
  {
    text: "Главная",
    href: "/",
  },
  {
    text: "Материалы",
    href: "/materials",
  },
  {
    text: "Избранные",
    href: "#",
  },
];
---

<BaseLayout title="Мои сохраненные материалы">
  <Breadcrumbs crumbs={customCrumbs}>
    <Icon name="mdi:chevron-right" slot="separator" />
  </Breadcrumbs>
  {
    posts && posts.length > 0 ? (
      <>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          {posts.map((item) => {
            const isChecked = bookmarks.some(
              (bookmark) => bookmark.id === item.id,
            );
            return (
              <PostCard
                isChecked={isChecked}
                item={item}
                slug={item.slug}
                data={item.data}
              />
            );
          })}
        </div>
      </>
    ) : (
      <div class="flex flex-col items-center justify-center gap-6">
        <h2 class="text-2xl">У вас нет избранных постов. 🤫</h2>
        <h2 class="text-2xl">
          <b>
            <u>Или же обновите страницу! 🙏</u>
          </b>
        </h2>
      </div>
    )
  }

  <script>
    import "../ts/bookmark";
    import "../ts/bookmark";
  </script>
</BaseLayout>
