---
import Aside from "@/components/Aside.astro";
import Blur from "@/components/Blur.astro";
import PostCard from "@/components/PostCard.astro";
import { DEFAULT_TITLE } from "@/config/settings";
import theme from "@/data/theme";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getTaxonomy } from "@/utils/getTaxonomy";
import { customSlugify } from "@/utils/libs/customSlugify";
import { getSinglePage } from "@/utils/libs/getSinglePage";
import { getCollection } from "astro:content";

const posts = await getSinglePage("posts");
const postsLength = (await getCollection("posts")).length;
const tags = await getTaxonomy("posts", "tags");
const tagCounts = {};
posts.forEach((post) => {
  // @ts-ignore
  post.data.tags.forEach((tag) => {
    if (!tagCounts[tag]) {
      tagCounts[tag] = 0;
    }
    tagCounts[tag]++;
  });
});
---

<BaseLayout
  title="Посты на тему 12 шагов"
  description={`${DEFAULT_TITLE}. Более (${posts.length}) постов: 12 шагов, материалы, опыт, разработка и другое.`}
  container_max_w="max-w-6xl"
>
  <main class="flex flex-col gap-12" aria-label="Блог контент секция">
    <Aside />
    <div class="flex flex-wrap items-center justify-between gap-4">
      <a href="/" class="rounded-full bg-white px-3 py-1 text-black"
        >🏠 Главная</a
      >
      <h4 class="text-3xl font-bold">Все посты ({postsLength})</h4>
    </div>
    <div class="flex flex-wrap gap-3">
      {
        tags &&
          tags.map((tag) => (
            <span
              class={`pill-${customSlugify(
                tag,
              )} relative rounded-full px-3 py-1 text-xs leading-tight text-white`}
            >
              {tag} ({tagCounts[tag] || 0})
            </span>
          ))
      }
    </div>
    <div class="columns-1 gap-6 md:columns-2 lg:columns-3">
      {posts.map((item: any) => <PostCard slug={item.slug} data={item.data} />)}
    </div>
  </main>
  <Blur position="top" color={theme.colors.blur.top} />
  <Blur position="bottom" color={theme.colors.blur.bottom} />
</BaseLayout>
