---
import { links } from "@/data/links";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import ButtonLink from "../Customs/ButtonLink.astro";
import Logo from "../Logo.astro";
const { container_max_w } = Astro.props;
const posts = (await getCollection("posts")).length;
---

<header id="header" class="py-4">
  <div
    class:list={`${
      container_max_w ?? "max-w-6xl"
    } container mx-auto flex items-center justify-between px-5`}
  >
    <a href="/" aria-label="Логотип сайта 12steps">
      <Logo />
    </a>

    <!-- 
      {...(item.astroPrefetch
                ? { 'data-astro-prefetch="load"': "" }
                : {})} 
              -->
    <div aria-label="Основная панель меню" class="hidden items-center gap-3 lg:flex">
      {
        links
          .filter((item) => !item.socialLink)
          .map((item: any) => (
            <ButtonLink
              aria-label="Ссылка"
              link={item.link}
              class="flex shrink-0 items-center gap-1"
            >
              {item.iconName && <Icon name={item.iconName} />}
              {item.name}
              {item.postsLength ? ` (${posts})` : null}
            </ButtonLink>
          ))
      }
    </div>

    <div aria-label="Правая панель меню" class="hidden items-center gap-3 lg:flex">
      <ButtonLink link="/bookmarks" class="flex items-center gap-1 text-white">
        <Icon name="mdi:bookmark" />
        <span>Избранные</span>
      </ButtonLink>
      <ButtonLink link="/about" aria-label='об проекте' class="flex items-center gap-1 text-white">
        <Icon name="mdi:information-slab-circle-outline" />
        <span>об проекте</span>
      </ButtonLink>
    </div>

    <span
      aria-label="Меню"
      id="openMenu"
      class="block rounded-md bg-white px-3.5 py-1.5 text-black lg:hidden"
      >Меню</span
    >

    <div
      id="menu"
      class="absolute left-0 top-20 z-[99] hidden h-full w-full bg-black/60 backdrop-blur-lg"
    >
      <div class="flex flex-col items-end gap-3 pr-5 pt-5">
        {
          links
            .filter((item) => !item.socialLink)
            .map((item: any) => (
              <ButtonLink
                link={item.link}
                class="flex shrink-0 items-center gap-1 text-xl"
              >
                {item.iconName && <Icon name={item.iconName} />}
                {item.name}
                {item.postsLength ? ` (${posts})` : null}
              </ButtonLink>
            ))
        }
        <ButtonLink
          link="/bookmarks"
          class="flex shrink-0 items-center gap-1 text-xl text-white"
        >
          <Icon name="mdi:bookmark" />
          <span>Избранные</span>
        </ButtonLink>
          <ButtonLink link="/about" aria-label='об проекте' class="flex shrink-0 items-center gap-1 text-xl text-white">
        <Icon name="mdi:information-slab-circle-outline" />
        <span>об проекте</span>
      </ButtonLink>
      </div>
    </div>
  </div>
</header>
<script>
  const openMenu = document.querySelector("#openMenu");
  const menu = document.querySelector("#menu");
  const header = document.querySelector("#header");

  openMenu.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    header.classList.toggle("bg-black/60");
  });
</script>
