---
import { getCollection } from "astro:content";
import Aside from "./Aside.astro";
import PostCard from "./PostCard.astro";
import PostFirst from "./PostFirst.astro";
const { posts } = Astro.props;

const postsLength = (await getCollection("posts")).length;
---

<main class="flex flex-col gap-12" aria-label="Блог контент секция">
  <Aside />
  <div
    class="mt-8 flex h-full grid-rows-[repeat(7,minmax(0,1fr))] flex-col gap-6 lg:grid lg:h-[600px] lg:grid-cols-3"
  >
    {
      posts
        .slice(0, 5)
        .map((item, index) => (
          <PostFirst slug={item.slug} index={index} data={item.data} />
        ))
    }
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-wrap items-center justify-between gap-4">
      <h4 class="text-3xl font-bold">Последние посты</h4>
      <a href="/posts" class="rounded-full bg-white px-3 py-1 text-black"
        >📁 Ко всем постам ({postsLength})</a
      >
    </div>
  </div>

  <div class="columns-1 gap-6 md:columns-2 lg:columns-3">
    {
      posts
        .slice(5, 11)
        .map((item) => <PostCard slug={item.slug} data={item.data} />)
    }
  </div>
</main>
