---
import BookmarkIcon from "./icons/BookmarkIcon.astro";
const { data, slug, isBB, item, isChecked } = Astro.props;
---

<article
  role="article"
  aria-label={`Читайте про "${data.title}"`}
  class:list={`${data.speechVoice && "ring-inset ring-blue-400"}`}
>
  <div class="flex flex-col gap-4">
    <h2 class="flex items-center gap-2">
      {
        (
          <button
            data-value={item}
            data-checked={isChecked?.toString()}
            data-bookmark
            aria-label="Bookmark"
            class="group flex items-center justify-center rounded-3xl text-zinc-400 opacity-100 transition-all data-[checked=true]:opacity-100"
          >
            <BookmarkIcon />
          </button>
        )
      }
      <a href={`${isBB ? `${isBB + slug}` : `/materials/${slug}`}`}
        >{data.title}</a
      >
    </h2>

    {
      isBB && (
        <p class="line-clamp-3 text-sm leading-relaxed text-zinc-700 dark:text-zinc-300">
          {data.description}
        </p>
      )
    }
  </div>
</article>
