---
import { customSlugify } from "@/utils/libs/customSlugify";
const { data, slug } = Astro.props;

const ogUrl = new URL(`/posts/${slug}.png`, Astro.url.origin).href;
---

<article
  role="article"
  class="bg-center-gradient group mb-6 break-inside-avoid rounded-xl px-6 py-5 ring-1 ring-white/10"
>
  <div class="flex flex-col gap-4">
    <!-- {
      (
        <Image
          class="h-[150px] rounded-xl object-cover transition-transform ease-linear group-hover:-translate-y-[1.25px]"
          src={ogUrl}
          format="avif"
          width={450}
          height={450}
          alt={data.title}
        />
      )
    } -->

    <!-- <div class="relative h-[400px] w-full bg-black">
      <div class="absolute inset-4 rounded-xl bg-white text-center">
        Lorem, ipsum dolor.
      </div>
    </div> -->

    {
      data.speechVoice && (
        <span class="rounded-full self-start ring-1 ring-blue-500/90 bg-blue-950/90 px-3 py-1 text-sm">
          🔈 пост озвучен
        </span>
      )
    }

    <h2
      class="text-3xl font-bold leading-tight transition-transform ease-linear group-hover:-translate-y-[2px]"
    >
      <a href={`/posts/${slug}`}>{data.title}</a>
    </h2>
    <div
      aria-label="Теги"
      class="flex gap-4 transition-transform ease-linear group-hover:translate-y-[1.10px]"
    >
      {
        data.tags &&
          data.tags.map((tag) => (
            <span
              class={`pill-${customSlugify(
                tag,
              )} relative rounded-full px-3 py-1 text-xs leading-tight text-white`}
            >
              {tag}
            </span>
          ))
      }
    </div>
    <p class="leading-relaxed text-gray-300">{data.description}</p>
  </div>
</article>
