---
import RelatedPosts from "@/components/RelatedPosts.astro";
import TableOfContents from "@/components/TOC/TableOfContents.astro";
import Tag from "@/components/icons/Tag.astro";
import Code from "@/components/mdx/Code.astro";
import { getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";

const posts = await getCollection("posts");

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;

// Похожие посты по тегам
const getRelatedPosts = (post: any) => {
  const relatedPosts = posts.filter(
    (p) =>
      p.slug !== post.slug &&
      p.data.tags.some((t) => post.data.tags.includes(t)),
  );
  return relatedPosts.slice(0, 3);
};

// Похожие посты по тегам - вывести relatedPosts
const relatedPosts = getRelatedPosts(post);
const { Content, headings } = await post.render();

// export const prerender = true;

const ogUrl = new URL(`/posts/${post.slug}.png`, Astro.url.origin).href;
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  tags={post.data.tags}
  heroImage={ogUrl}
  type
  container_max_w="max-w-4xl"
>
  {headings && headings.length > 0 && <TableOfContents {headings} />}
  <!-- prose-heading:max-w-3xl - для TOC чтобы не перекрывал -->

  <article class="flex flex-col gap-12">
    <div aria-label="Заголовки поста" class="relative">
      <aside
        class="absolute top-0 flex w-full items-center justify-between gap-3 p-5"
        aria-label="Сайдбар"
      >
        <a
          href="/"
          class="rounded-full bg-black/50 px-3 py-1 text-white backdrop-blur-xl backdrop-brightness-75"
          >Назад к постам</a
        >
      </aside>
      <div
        class="absolute bottom-0 flex w-full flex-col gap-5 rounded-xl bg-black/50 p-5 backdrop-blur-lg backdrop-brightness-75"
      >
        <h1 class="text-4xl font-bold leading-tight text-gray-100 md:text-5xl">
          {post.data.title}
        </h1>
        <p class="text-base leading-relaxed text-gray-300 md:text-lg">
          {post.data.description}
        </p>
      </div>

      <div
        class="h-[420px] rounded-2xl bg-black md:h-[350px]"
        style="
        background-color: rgb(29, 78, 216);
        background-image: radial-gradient(at 7% 35%, rgb(224, 242, 254) 0, transparent 100%), radial-gradient(at 22% 33%, rgb(237, 233, 254) 0, transparent 72%), radial-gradient(at 34% 38%, rgb(240, 171, 252) 0, transparent 99%), radial-gradient(at 49% 48%, rgb(185, 28, 28) 0, transparent 33%), radial-gradient(at 56% 75%, rgb(109, 40, 217) 0, transparent 37%), radial-gradient(at 6% 99%, rgb(237, 233, 254) 0, transparent 86%);
      "
      >
      </div>
    </div>

    <div class="my-4 flex gap-2" aria-label="Теги поста">
      {
        post.data.tags &&
          post.data.tags.map((tag) => (
            <span class="flex items-center gap-1 rounded-full bg-black/50 px-3 py-1 text-white backdrop-blur-xl backdrop-brightness-75">
              <Tag colorSVG="white" />
              {tag}
            </span>
          ))
      }
    </div>

    <div
      aria-label="Контент поста"
      class="md:prose-md prose prose-slate prose-invert max-w-none lg:prose-lg xl:prose-xl prose-headings:max-w-[280px] sm:prose-headings:max-w-full"
    >
      <Content components={{ pre: Code }} />
    </div>
    {relatedPosts.length > 0 && <RelatedPosts posts={relatedPosts} />}
  </article>
</BaseLayout>
