---
import Blur from "@/components/Customs/Blur.astro";

import Footer from "@/components/partials/Footer.astro";
import Header from "@/components/partials/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  index?: any;
  name?: string;
  title: string;
  type?: any;
  description: any;
  heroImage?: string;
  locale?: string;
  tags?: any;
  blurClass?: any;
  canonicalURL?: any;
  author?: string;
  container_max_w?: string;
}

const {
  index,
  name,
  author,
  title,
  type,
  description,
  heroImage,
  locale = "ru",
  tags,
  blurClass,
  container_max_w,
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="ru" class="scroll-smooth">
  <SEOTags
    index={index}
    author={author}
    title={title}
    description={description}
    name={name}
    type={type}
    heroImage={heroImage}
    locale={locale}
    tags={tags}
    canonicalURL={canonicalURL}
  />

  <body class="bg-zinc-100 text-zinc-900 dark:bg-zinc-950 dark:text-white">
    <Header />
    <main
      class:list={`${container_max_w ?? "max-w-6xl"} container mx-auto px-5`}
    >
      <div class="flex flex-col gap-12 py-12">
        <slot />
      </div>
    </main>
    <Footer />

    <Blur
      position="top-left"
      color={`${blurClass?.topLeft ?? "dark:bg-purple-500"}`}
    />
    <Blur
      position="top-right"
      color={`${blurClass?.topRight ?? "dark:bg-amber-500"}`}
    />
    <Blur
      position="bottom-right"
      color={`${blurClass?.bottomRight ?? "dark:bg-gray-500"}`}
    />
    <Blur
      position="bottom-left"
      color={`${blurClass?.bottomLeft ?? "dark:bg-blue-500"}`}
    />
  </body>
</html>
