---
import Blur from "@/components/Customs/Blur.astro";

import Footer from "@/components/partials/Footer.astro";
import Header from "@/components/partials/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import "@/styles/global.css";

interface Props {
  name?: string;
  title: string;
  type?: any;
  description: string;
  heroImage?: string;
  locale?: string;
  tags?: any;
  canonicalURL?: any;
  author?: string;
  container_max_w?: string;
}

const {
  name,
  author,
  title,
  type,
  description,
  heroImage,
  locale = "ru",
  tags,
  container_max_w,
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;
---

<!doctype html>
<html lang="ru" class="scroll-smooth">
  <SEOTags
    author={author}
    title={title}
    description={description}
    name={name}
    type={type}
    heroImage={heroImage}
    locale={locale}
    tags={tags}
    canonicalURL={canonicalURL}
  />
  <!-- <ViewTransitions fallback='swap'/> -->
  <body class="bg-zinc-950 text-white">
    <Header />
    <main
      class:list={`${container_max_w ?? "max-w-5xl"} container mx-auto px-5`}
    >
      <div class="flex flex-col gap-12 py-12">
        <slot />
      </div>
    </main>
    <Footer />
    <!-- BLURS EFFECTS -->
    {
      Astro.url.pathname === "/"
        ? null
        : [
            <>
              <Blur position="top-left" color="bg-purple-500" />
              <Blur position="top-right" color="bg-amber-500" />
              <Blur position="bottom-right" color="bg-gray-500" />
              <Blur position="bottom-left" color="bg-blue-500" />
            </>,
          ]
    }
  </body>
</html>
