---
import BaseLayout from "./BaseLayout.astro";

const { title, description, heroImage, index, blurClass } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  index={index}
  heroImage={heroImage}
  blurClass={blurClass}
  container_max_w="max-w-4xl"
>
  <main
    class="prose prose-lg prose-blue max-w-none xl:prose-xl dark:prose-invert"
  >
    <h1>{title}</h1>
    <slot />
  </main>
</BaseLayout>
