---
import Breadcrumbs from "@/components/Customs/Breadcrumbs.astro";
import RelatedPosts from "@/components/RelatedPosts.astro";
import Code from "@/components/mdx/Code.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";

const posts = await getCollection("posts");
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
// Похожие посты по тегам
const getRelatedPosts = (post: any) => {
  const relatedPosts = posts.filter(
    (p) =>
      p.slug !== post.slug &&
      p.data.tags.some((t) => post.data.tags.includes(t)),
  );
  return relatedPosts.slice(0, 3);
};

// Похожие посты по тегам - вывести relatedPosts
const relatedPosts = getRelatedPosts(post);
const { Content, headings } = await post.render();

const ogUrl = new URL(`/posts/${post.slug}.png`, Astro.url.origin).href;

const customCrumbs = [
    {
    text: "Главная",
    href: "/",
  },
  {
    text: "Материалы",
    href: "/materials",
  },
  {
    text: post.data.title,
    href: "#",
  },
];
---

<BaseLayout
  title={post.data.title}
  description={post.data.description && post.data.tags}
  tags={post.data.tags}
  heroImage={ogUrl}
  type
  container_max_w="max-w-4xl"
>
  <Breadcrumbs crumbs={customCrumbs}>
    <Icon name="mdi:chevron-right" slot="separator" />
  </Breadcrumbs>

  <article class="flex flex-col gap-12">
    <h1 class="text-4xl font-bold lg:text-6xl">
      {post.data.title}
    </h1>

    {
      post.data.speechVoice && (
        <audio controls class="w-full">
          <source
            src={post.data.audioFile.replace("public/", "")}
            type="audio/mpeg"
          />
        </audio>
      )
    }

    <main
      aria-label="Контент поста"
      class="prose prose-blue max-w-none sm:prose-lg dark:prose-invert"
    >
      <Content components={{ pre: Code }} />
    </main>
    <!-- <script
      async
      data-page-id={customSlugify(post.data.title)}
      src="https://comments.app/js/widget.js?3"
      data-comments-app-website="VKD98n54"
      data-limit="15"
      data-color="72E350"
      data-colorful="1"
      data-dark="1"></script> -->
    {relatedPosts.length > 0 && <RelatedPosts posts={relatedPosts} />}
  </article>

  <!-- Стилизуй и пойми, нужно ли TOC -->
  <!-- {headings && headings.length > 0 && <TableOfContents {headings} />} -->
</BaseLayout>
